{% extends "salary/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {%csrf_token%}
    {{form.emp_id|as_crispy_field}}
    {{form.emp_name|as_crispy_field}}
    {{form.designation|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.no_of_days_worked|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.daily_salary|as_crispy_field}}
        </div>  
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'emp_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream">Back to list</i>
            </a>
        </div>

    </div>
    
</form>

{% endblock content %}